[Desktop Entry]
Name=Image Please
Exec=imgpls %U
Terminal=false
Type=Application
Icon=imgpls
Comment=P=p-i
MimeType=image/jpeg;image/png;image/svg+xml
Categories=Graphics;
